.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}


/* .sidenav {

  background: blue;
}

.mat-toolbar {

  background: blue;
} */


.sidenav .mat-toolbar {
  /* background: blueviolet; */
  background: blue;
  /* background: inherit; */
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
