/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuild-themes/indigo-pink.css"; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }


  .medium-list {

    margin: auto;
    width: 600px;
    padding: 10px;

  }


  .list-viewer-wrapper {

    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
    
  }



  .list-header-title {

    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    padding: 8px 20px;
    font-weight: bold;

  }