<!-- <mat-card class="example-card"> -->
<!-- <mat-tab-group class="example-card">  -->
    <!-- <mat-card-header> -->
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <!-- <mat-card-title>Practice Exercise</mat-card-title> -->
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <!-- </mat-card-header> -->
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <!-- <mat-card-content class="example-content"> -->
      
        
        <!-- <img mat-card-image src="http://localhost:4200/assets/web_img/practiceexercise1.png" width="-20px" height="140px"> -->
        <!-- <img src="http://localhost:4200/assets/web_img/practiceexercise1.png" width="-400px" height="290px"> -->

        <!-- <p>
            Practice Exercise - this is a Web version of Project to learng the languages' words.
        </p> -->


  <!-- </mat-card-content> -->
  <!-- </mat-tab-group>
    <mat-card-content class="example-content2">
            
              <Strong>Used technologies:</Strong>
              <p> Spring Boot 2, Angular 6.</p>
                  
            
          </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  <!-- </mat-card> -->

   <!-- <mat-tab label="First">Content 1</mat-tab>
   <mat-tab label="Second">Content 2</mat-tab>


</mat-tab-group> -->
 

<table>
  <tr>
   <td>Practice Exercise</td>
  </tr>
  <tr>
    <td><img src="http://localhost:4200/assets/web_img/practiceexercise1.png"></td><td>Project to learng the languages' words</td>
  </tr>
</table>